.contact-form {
  max-width: 700px;
  padding-top: 0px;
}

.contact-form .form-group {
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 20px;
}

.form-group:first-child {
  padding-top: 20px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: -webkit-fill-available;
  padding: 10px;
  font-size: 1rem;
}

.contact-form textarea {
  height: 100px;
  resize: vertical;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 1rem;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border: none;
  cursor: pointer;
  background-color: deepskyblue;
  margin-left: 50px;
}

.submit {
  margin-bottom: 20px;
}
