.footer {
  background-color: black;
  margin: 0;
  text-align: center;
  height: 50px;
  margin-top: 50px;

  .copyright {
    align-content: center;

    .text {
      margin-bottom: 0;
      text-decoration: none;
    }
  }
}
