h1,
h2,
h3,
h4,
p {
  color: white;
}

html {
  scroll-behavior: smooth;
  font-family: "Arial", sans-serif;
}

body {
  overflow-x: hidden;
}

textarea {
  font-family: "Tahoma", "Arial", "Arabic Transparent";
}

input[type="text"] {
  font-family: "Tahoma", "Arial";
}
